/* ------------------------------------------ scss var ------------------------------------------ */

$design-width: 375; // 设计稿宽度
$page-trans-duration: 0.4s; // 页面过渡动画持续时间
$bg-color: #ffffff; // 背景色
$app-header-height: 40px; // header高度